<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    table {
      border-collapse: collapse
    }
    td {
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <h1><%= @title %></h1>
  <h2><%= @term %></h2>
  <table>
    <% if @orientation == :horizontal %>
      <tr>
        <td></td>
        <% @time_markers.each do |marker| %>
          <td><%= marker %></td>
        <% end %>
      </tr>
      <% @grid.each do |day, time_slots| %>
        <tr>
            <td><%= day.capitalize %></td>
            <% i = 0 %>
            <% while i < time_slots.length %>
              <% span = time_slots[i].nil? ? 1 : calculate_span_value(time_slots[i][:id], i, time_slots) %>
              <td
                style="background-color:<%= time_slots[i].nil? ? 'white' : time_slots[i][:color] %>"
                colspan="<%= span %>">
                <%= time_slots[i].nil? ? '' : time_slots[i][:text] %>
                <% i += span %>
              </td>
            <% end %>
        </tr>
      <% end %>
    <% elsif @orientation == :vertical %>
      <tr>
        <td></td>
        <% @grid.keys.each do |day| %>
          <td><%= day.capitalize %></td>
        <% end %>
      </tr>
      <% @time_markers.each_with_index do |marker, i| %>
        <tr>
          <td><%= marker %></td>
          <% @grid.values.each do |time_slots| %>
            <td style="background-color:<%= time_slots[i].nil? ? 'white' : time_slots[i][:color] %>">
              <%= time_slots[i].nil? ? '' : time_slots[i][:text] %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</body>
</html>
